<footer class="block block--dark footer">
    <div class="footer__sections container grid">
        <section class="block collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__title"><a href="">Products</a> </h2>
                    <svg >
                        <img class="icon collapsible--chevron" src="/Images/chevron.svg" alt="">
                    </svg>
            </header>
            <div class=" collapsible__content ">
                <ul class="list">
                    <li><a href="#">WordPress Hosting</a> </li>
                    <li><a href="#">Free Automated WordPress</a> </li>
                    <li><a href="#">Migrations</a> </li>
                    <li><a href="#">Domain Names</a> </li>
                    <li><a href="#">Monthly Web Hosting</a> </li>
                </ul>
            </div>
        </section>
        <section class="block collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__title"><a href="">Company</a> </h2>
                    <svg >
                        <img class="icon collapsible--chevron" src="/Images/chevron.svg" alt="">
                    </svg>
            </header>
            <div class=" collapsible__content ">
                <ul class="list">
                    <li> <a href="#">About</a> </li>
                    <li> <a href="#">Affiliates</a> </li>
                    <li> <a href="#">Blog</a> </li>
                    <li> <a href="#">Careers</a> </li>
                    <li> <a href="#">Community</a> </li>
                    <li> <a href="#">News</a> </li>
                    <li> <a href="#">Green Hosting</a> </li>
                </ul>
            </div>
        </section>
        <section class="block collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__title"><a href="">Support</a> </h2>
                    <svg >
                        <img class="icon collapsible--chevron" src="/Images/chevron.svg" alt="">
                    </svg>
            </header>
            <div class=" collapsible__content ">
                <ul class="list">
                    <li><a href="#">Contact</a> </li>
                    <li><a href="#">Knowledge Base</a> </li>
                    <li><a href="#">Forums</a> </li>
                    <li><a href="#">System Status</a> </li>
                    <li><a href="#">Web Hosting</a> </li>
                    <li><a href="#">Dream Comute</a> </li>
                </ul>
            </div>
        </section>
        <section class="block collapsible  footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__title"> <a href="">Domain</a> </h2>
                    <svg >
                        <img class="icon collapsible--chevron" src="/Images/chevron.svg" alt="">
                    </svg>
            </header>
            <div class=" collapsible__content ">
                <ul class="list">
                    <li> <a href="#">Domain Checker</a> </li>
                    <li> <a href="#">Domain Transfer</a> </li>
                    <li> <a href="#">Free Domain</a> </li>
                    <li> <a href="#">XYZ Domain</a> </li>
                    <li> <a href="#">Cheap SSL Certificate</a> </li>
                </ul>
            </div>
        </section>
        <section class="footer__logo">
            <a class="footer__brand" href="/"><img src="/Images/logo.svg" alt=""></a>
            <p class="footer__copyright">Copyright © 2020 mosh</p>
        </section>
    </div>
</footer>